{{> message}}


<div class="container-all row my-3">

    <div class="d-flex justify-content-around align-items-center">
        <a href="/todos/new" class="fs-4">Create</a>
        {{> navbar}}
    </div>

    <div class="content mt-3 mx-4 p-0">
        {{#each todos as |tto|}}

        <div class="">
            <div class="d-flex justify-content-evenly mb-3">
       
                <div class="">
                    <span class="me-4">{{this.id}}</span>
                    <input type="checkbox" disabled {{#if tto.isComplete}} checked {{/if}}>
                    <span class="ms-2">{{this.name}}</span>
                </div>
                <div class="">
                    <a href="/todos/{{tto.id}}" class="me-3">detail</a>
                    <a href="/todos/{{tto.id}}/edit" class="me-3">edit</a>
                    <form action="/todos/{{tto.id}}?_method=DELETE" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-danger border-0 p-1">delete</button>
                    </form>

                </div>
            </div>
        </div>

        {{/each}}


        <nav aria-label="Page navigation example" class="navigation mt-3 mx-5 p-0">
            <ul class="pagination d-flex justify-content-center">

                <li class="page-item">
                    <form action="/todos" method="get">
                        <input type="hidden" name="page" value="{{Previous}}">
                        <button class="page-link" type="submit">Previous</button>
                    </form>
                </li>

                <li class="page-item">
                    <form action="/todos" method="get">
                        <input type="text" class="page ms-2" name="page" value="{{ currentPage }}">
                        <span class="mx-2">of {{lastPage}}</span>
                    </form>
                </li>

                <li class="page-item">
                    <form action="/todos" method="get">
                        <input type="hidden" name="page" value="{{next}}">
                        <button class="page-link" type="submit">next</button>
                    </form>
                </li>

            </ul>
        </nav>

    </div>

</div>